{% extends 'base.html' %}

{% block content %}
<div class="container" style="height:100vh;">
    <div class="row justify-content-center ml-4">
        <div class="col-md-6 py-6 my-5">
            <form class="form-inline md-form form-sm">
                <input class="form-control form-control-sm mr-4 w-75" type="text" placeholder="Search"
                    aria-label="Search">
                <a href="#"><i class="fas fa-search" aria-hidden="true"></i></a>
            </form>
        </div>
    </div>
</div>
{% endblock %}