{% extends 'base.html' %}

{% block content %}
<div class="container text-center" style="height:100vh;">

    <form action="" method="POST" class="text-center border border-light p-5">

        {{ form.csrf_token }}

        <p class="h4 mb-4">DASHBOARD</p>

        {{ form.email }}
        {{ form.pwd }}

        <div class="d-flex justify-content-around">
            <div>
                <div class="custom-control custom-checkbox">
                    {{form.remember_me }}
                    <label class="custom-control-label" for="remember_me">Remember me</label>
                </div>
            </div>
        </div>
        {{ form.submit }}

        <div>
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
        </div>
    </form>

</div>
{% endblock %}