<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4 wow fadeIn">

    <!-- Footer Elements -->
    <div class="container text-center">
        <p id="time-counter"></p>
        <a href="#!" class="btn btn-outline-white btn-rounded js-cd-top mb-2">Back to top</a>
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="{{ url_for('index') }}">hippieZhou</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

{% block scripts %}

<!-- Time Counter -->
<script type="text/javascript">
    var endTime = new Date("2020/1/1 00:00:00");

    // Update the count down every 1 second
    var x = setInterval(function() {

        var startTime = new Date()
            // Set the date we're counting down to
        var distance = (endTime.getTime() - startTime.getTime()) / 1000

        var days = parseInt(distance / (24 * 60 * 60));
        var hours = parseInt(distance / (60 * 60) % 24);
        var minutes = parseInt(distance / 60 % 60);
        var seconds = parseInt(distance % 60);

        // Display the result in the element with id="demo"
        document.getElementById("time-counter").innerHTML = days + "d " + hours + "h " +
            minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("time-counter").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
{% endblock %}