<header>
    <div class="collapse unique-color-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4><a href="{{ url_for('main.about') }}" role="button" class="text-white">About</a></h4>
                    <p class="text-muted">I am a .Net Developer who has done UWP, WPF, and Python. Currently engaged in WPF-related development work, but also on the. Netcore has been constantly watching and learning.That's all. Tks.:)</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li> <a class="tw-ic mr-2" role="button" target="_blank" href="https://twitter.com/hippie_Zhou"><i class="fab fa-twitter text-white"></i></a></li>
                        <li> <a class="tw-ic mr-2" role="button" target="_blank" href="https://www.github.com/hippiezhou"><i class="fab fa-github text-white"></i></a></li>
                        <li> <a class="tw-ic mr-2" role="button" target="_blank" href="https://www.cnblogs.com/hippieZhou/"><i class="fas fa-rss text-white"></i></a></li>
                        <li> <a class="tw-ic mr-2" role="button" href="mailto:hippiezhou@outlook.com"><i class="far fa-envelope text-white"></i></a></li>
                        <li> <a class="tw-ic mr-2" role="button" data-toggle="modal" data-target="#basicExampleModal"><i class="fas fa-heartbeat text-danger"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="{{ url_for('main.index') }}" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>Pay Attention</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center m-4">
                <img src="{{ url_for('static',filename='img/rewardcode.jpg') }}" alt="thumbnail" class="text-center" style="width: 200px">
                <p class="m-4">Thank you for your donation. </p>
            </div>
        </div>
    </div>
</div>